<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supersit.patrol">
    <application android:theme="@style/AppTheme">
        <!-- 巡查上报页 -->
        <activity android:name=".ui.PatrolUploadActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- 待上传事项页 -->
        <activity android:name=".ui.PatrolUploadItemsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!-- 历史事件页 -->
        <activity android:name=".ui.PatrolRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!-- 事件信息页 -->
        <activity android:name=".ui.EventInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- 工作事件列表页 -->
        <activity
            android:name=".ui.ProjectListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <!-- 工程信息页 -->
        <activity android:name=".ui.ProjectInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- 工程信息页 -->
        <activity android:name=".ui.PatrolLocationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

    </application>
</manifest>
